.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
.Rapp.history
lit/
.httr-oauth
*wp_2015_temp*
data/raw/
sync/
archive/
accessPEP_cache
accessPEP_files
sessionInfo.csv
figs/
*.docx
docs/*temp*
*.html
misc
master.sh
bash/*
output/ttimes/addclinics/commune_allcatch.gz
output/ttimes/addclinics/commpreds_all.csv
output/ttimes/addclinics/commpreds_max.csv
output/preds/prop_preds.gz
output/preds/catch_preds.gz
output/preds/admin_preds.gz
data/processed/rasters/wp_2015_temp.tif
data/raw/WorldPop/mdg_ppp_2015.tif
data/raw/WorldPop/mdg_ppp_2018.tif
data/raw/WorldPop/mdg_ppp_2020.tif
data/raw/WorldPop/MDG_ppp_2015_adj_v2.tif
