.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
.Rapp.history
lit/
.httr-oauth
data-raw/log.csv
data/
sync/
archive/
accessPEP_cache
accessPEP_files
sessionInfo.csv
*.docx
docs/*temp*
*.html
analysis/bash/
output/
tree.md
data-raw/raw
docs
analysis/out/
analysis/slurm/
zenodo
zenodo.zip
vignettes
