.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
.Rapp.history
lit/
.httr-oauth
data_raw/
data/
sync/
archive/
accessPEP_cache
accessPEP_files
sessionInfo.csv
*.docx
docs/*temp*
*.html
bash/*
output/
tree.md
